body {
    width: 100%;
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
}

.nav-bar{
    width: 100vw;
    height: 12vh;
    background-color: salmon;
}

.logo {
    width:13.5%;
    height: 90%;
    margin-top: 4px;
    margin-left:30px ;
}

.wrapper {
    display: flex;
    justify-content:center;
    margin-top: -60px;
    align-items: flex-end;
}

.nav_link {
    padding: 10px;  
}

.verticalBar {
    margin-bottom: 9px;
}

.phone_number {
    display: flex;
   justify-content: flex-end;
   margin-right: 40px;
   margin-top: -20px;
   text-decoration: none;
}

.phone_anchor{
    width: 100px;
    background-color:rgba(175, 168, 168, 0.788);
}

.header_image{
    width:100vw;
    height:40vh;
    background-color:black;
}

.skulls {
    width: 100vw;
    height: 40vh;
    object-fit: contain;
}

/* End of Skull Image section */

.title_paragraphs{
    width:100vw;
    height: 60vh;
    background-color: rgba(128, 128, 128, 0.438);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heart_div{
    width:30%;
    height:80%;
}

.heart_img {
    width: 50%;
    height: ;
    margin-left: 60px;
    margin-top:30px;
}

.heart_text {
    margin-top:35px;
}

.smile_div{
    width:30%;
    height:80%;
}

.smile_img{
    height: 44%;
    margin-left: 30%;
    padding: 20px;
}

.bolt_div{
    width:30%;
    height:80%;
}

.bolt_img{
    height: 40%;
    margin-left: 30%;
    padding: 25px;
}
/* End of Title/Paragraphs section */

.mission_statements {
    width: 100vw;
    height: 400px;
}

 .spirit_img {
    width:100%;
    height:400px;
    
}

.mission_statements {
    /* position: absolute; */
    top: 8px;
    left: 16px;
    color:white;
}


/* End of Mission Statment over background image   */

.image_switchover{
    width: 100vw;
    height: 400px;
    background-color: darkcyan;
    display:flex;
    justify-content: center;
}

.threeColumnLeft {
    width: 200px;
    height 325px;
    padding:20px;    
}

.threecolumnRight {
    width: 200px;
    height 325px;
    padding:20px;
    margin-left: 50px; 
}

.blue_img {
    width:200px;
    height:100px;
}

.grey_paragraph {
    width: 200px;
    height: 100px;
    padding: 5px;
    border: thin black solid;
}

/* End of image_switchover */

.footer{
    width: 100vw;
    height: 5vw;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: burlywood;
    
}











